.account__section{
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group{
    margin: 2rem;
}


input[type="text"]{
    padding: 2rem;
    padding-right: 8rem;
    border-radius: .5rem;
    border: 2px solid #3498db;
    outline: none;
}
input[type="password"]{
    padding: 2rem ;
    padding-right: 8rem;
    border-radius: .5rem;
    border: 2px solid #3498db;
    outline: none;
}
input[type="email"]{
    padding: 2rem;
    padding-right: 8rem;
    border-radius: .5rem;
    border: 2px solid #3498db;
    outline: none;
}

.btn{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: .5rem;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
    
  }
  
  .btn:hover{
    background: #3498db;
    color: white;
  }

 