.notFound{
    width: 100vw;
    height: 100vh;
    @extend %flex-center;

    &__container{

        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;

        &__h1{
            font-size: 6rem;
            color: rgb(0, 162, 255);
        }
        &__p{
            margin-top: 1rem;
            font-size:1.6rem;
        }
    }

}