.container{
    width: 1200px;
    margin: 0 auto;
    @include responsive(mobile){
        width:100%;
        padding: 0 1rem;
    }
    @include responsive(tablet){
        width:100%;
        padding: 0 1rem;
    }
    @include responsive(laptop){
        width:100%;
        padding: 0 1rem;
    }
}

.mt-80{
    margin-top: 8rem;
}